{% extends "base.html" %}

{% block content %}

<h3>Delete Product</h3>

<p>Are you sure you want to delete the product: <b>{{ object.title }}</b>
   from the list <i>{{ department.title }}</i>?</p>

<form method="POST">
    {% csrf_token %}
    <input
        value="Yes, delete."
        type="submit">
    <input
        value="Cancel"
        type="button"
        onclick="location.href='{% url "department" department.id %}';">
</form>

{% endblock %}