<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Store</title>
</head>

<body>
    <ul>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
    </ul>
    <div>
        <h1 onclick="location.href='{% url "index" %}'">
            Store departments
        </h1>
    </div>
    <div>
        {% block content %}
<div>
    <div>
        <div>
            <h3>Edit department:</h3>
            <h5>{{ department.title | upper }}</h5>
        </div>
        <ul>
            {% for product in object_list %}
            <li>
                <div>
                    <div
                        role="button"
                        onclick="location.href=
                        '{% url "product-update" department.id product.id %}'">
                        {{ product.title }}
                        (Disposal date: {{ product.disposal_date | date:"l, F j"}})
                    </div>
                </div>
            </li>
            {% empty %}
            <p>There are no products in this department.</p>
            {% endfor %}
        </ul>
        <p>
            <input
                value="Add a new product"
                type="button"
                onclick="location.href='{% url "product-add" department.id %}'"
            />
        </p>
    </div>
</div>
        {% endblock %}
    </div>
</body>

</html>