{% extends "base.html" %}
{% block content %}
{% if object_list %}
<h3>All departments</h3>
{% endif %}
<ul>
    {% for department in object_list %}
    <li>
        <div role="button" onclick="location.href='{% url "department" department.id %}'">
            {{ department.title }}
        </div>
    </li>
    {% empty %}
    <h4>no departments!</h4>
    {% endfor %}
</ul>
<p>
    <input
        value="Add a new department"
        type="button"
        onclick="location.href='{% url "department-add" %}'"/>
</p>
{% endblock %}