{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Edit department:</h3>
            <h5>{{ department.title | upper }}</h5>
        </div>
        <ul>
            {% for product in object_list %}
            <li>
                <div>
                    <div
                        role="button"
                        onclick="location.href='{% url "product-update" department.id product.id %}'">
                        {{ product.title }}
                        (Disposal date: {{ product.disposal_date | date:"l, F j" }})
                    </div>
                </div>
            </li>
            {% empty %}
            <p>There are no products in this department.</p>
            {% endfor %}
        </ul>
        <p>
            <input
                value="Add a new product"
                type="button"
                onclick="location.href='{% url "product-add" department.id %}'" />
            <input
                value="Delete this department"
                type="button"
                onclick="location.href=
                '{% url "department-delete" department.id %}'" />
        </p>
    </div>
</div>
{% endblock %}